In [1]:
import pandas as pd
import json
from numpy import nan
from geopy import distance
from pandas.io.json import json_normalize
from shapely.geometry import shape, Point, MultiPoint
from shapely.ops import nearest_points

In [2]:
with open('./results-11-30-2019.json') as f:
    # flatten json structures
    data = json_normalize(json.load(f))
    # Remove non-Chicago entries
    data = data[data['address'].str.contains('Chicago, IL')]

In [3]:
data = data.rename(columns={
    'latLong.longitude': 'lon', 
    'latLong.latitude': 'lat',
    'hdpData.homeInfo.yearBuilt': 'yearBuilt',
    'hdpData.homeInfo.homeType': 'homeType'
    }, errors='raise')

In [4]:
data = data[['price', 'beds', 'baths', 'area', 'lat', 'lon', 'yearBuilt', 'homeType']]

In [5]:
with open('./CTA_RailStations.geojson') as f:
    stations_geo = json.load(f)

In [6]:
with open('./chicago_neighborhoods.geojson') as f:
    neighborhoods_geo = json.load(f)

In [7]:
# Make the neighborhood json easier to work with
neighborhood_polygons = [{'geometry': shape(feature['geometry']), 'properties': feature['properties']} for feature in neighborhoods_geo['features']]

In [8]:
def get_neighborhood(row):
    lon = row['lon']
    lat = row['lat']
    hoods = [polygon['properties']['pri_neigh'] for polygon in neighborhood_polygons if polygon['geometry'].contains(Point(lon, lat))]
    return hoods[0] if len(hoods) > 0 else None

# Add neighborhoods to entries
data['neighborhood'] = data.apply(get_neighborhood, axis=1)

In [9]:
# Remove anything not in a neighborhood (probably incorrectly labeled as being in Chicago)
data = data[data['neighborhood'].notnull()]
data[['lat', 'lon', 'neighborhood']].sample(20)

             lat        lon     neighborhood
13518  42.009340 -87.660854      Rogers Park
2310   41.744926 -87.730642          Ashburn
11396  41.961521 -87.696670      Albany Park
10860  41.955418 -87.833368          Dunning
7218   41.883794 -87.652708        West Loop
11232  41.960189 -87.720100      Irving Park
8776   41.913144 -87.687682      Wicker Park
7605   41.894355 -87.627675      River North
2072   41.732006 -87.590111  Calumet Heights
11081  41.958872 -87.770691     Portage Park
9576   41.904757 -87.627310       Gold Coast
11187  41.952655 -87.737161      Irving Park
12756  41.992187 -87.680231       West Ridge
3000   41.762978 -87.623720   Grand Crossing
9201   41.902994 -87.627601       Gold Coast
12950  41.994383 -87.654658        Edgewater
13344  42.011807 -87.671606      Rogers Park
5698   41.864879 -87.718231   North Lawndale
5240   41.855947 -87.622764  Near South Side
9974   41.938610 -87.726598         Avondale

In [10]:
# Convert prices to ints, drop any entries without prices
data['price'] = data.apply(lambda row: nan if (price:=row['price'].replace('$', '').replace(',', '')) == '' else int(price), axis=1)

print(f'Records before drop: {data.shape}')
data = data.dropna()
data = data[data['yearBuilt'] > 0]
print(f'Records after drop: {data.shape}')
data.sample(20)

Records before drop: (10277, 9)
Records after drop: (7436, 9)

,price,beds,baths,area,lat,lon,yearBuilt,homeType,neighborhood
12696,970000.0,4.0,4.0,3604.0,41.987390,-87.741593,1923,SINGLE_FAMILY,"Sauganash,Forest Glen"
3442,239900.0,4.0,2.0,1181.0,41.798627,-87.719985,1944,SINGLE_FAMILY,West Elsdon
10168,565000.0,3.0,2.0,1850.0,41.939774,-87.684171,2005,CONDO,North Center
8442,289900.0,3.0,2.0,858.0,41.920919,-87.749551,1911,SINGLE_FAMILY,Belmont Cragin
9144,1249000.0,2.0,4.0,3826.0,41.906923,-87.630967,2018,TOWNHOUSE,Gold Coast
10556,1490000.0,2.0,2.0,1569.0,41.929235,-87.639921,2010,CONDO,Lincoln Park
538,134900.0,4.0,2.0,1400.0,41.681386,-87.656288,1961,SINGLE_FAMILY,West Pullman
7199,339000.0,1.0,1.0,818.0,41.892082,-87.628862,2003,CONDO,River North
8753,899000.0,5.0,5.0,1.0,41.920921,-87.681767,1892,MULTI_FAMILY,Bucktown
4218,595000.0,4.0,4.0,3000.0,41.817814,-87.615533,2007,SINGLE_FAMILY,Grand Boulevard
5265,999980.0,11.0,6.0,1500.0,41.850668,-87.635072,1956,MULTI_FAMILY,Chinatown
9308,229000.0,1.0,1.0,10200.0,41.918804,-87.636990,1971,CONDO,Lincoln Park
12969,195000.0,2.0,2.0,1519.0,41.991933,-87.654687,1972,CONDO,Edgewater
8396,409900.0,4.0,3.0,1040.0,41.912512,-87.780539,1922,SINGLE_FAMILY,Galewood
6834,625000.0,3.0,2.0,1650.0,41.896085,-87.682552,2015,CONDO,Ukrainian Village
9177,272500.0,1.0,1.0,850.0,41.910256,-87.632526,1971,CONDO,Old Town
6853,399000.0,2.0,2.0,1000.0,41.893503,-87.672343,2004,CONDO,West Town
11225,329900.0,2.0,2.0,1150.0,41.949878,-87.714371,1910,CONDO,Irving Park
7923,439000.0,1.0,1.0,1050.0,41.899530,-87.621348,1974,CONDO,Streeterville
5306,2695000.0,8.0,7.0,10660.0,41.856648,-87.621187,1870,SINGLE_FAMILY,Near South Side

In [11]:
def make_point(point):
    lon = point['geometry']['coordinates'][0]
    lat = point['geometry']['coordinates'][1]
    return (lon, lat), {
            'coords': Point(lon, lat),
            'line': point['properties']['LINES'],
            'station': point['properties']['Name']
        }
        

stations = {(p:=make_point(point))[0]: p[1] for point in stations_geo['features']}
station_points = [station['coords'] for station in stations.values()]

In [12]:
# Get nearest CTA stations
stations_multipoint = MultiPoint(station_points)
def get_nearest_station(row):
    lon = row['lon']
    lat = row['lat']
    p = Point(lon, lat)
    np = nearest_points(p, MultiPoint(station_points))
    # Index 0 is the input point, index 1 is the nearest station
    nearest_station = stations[(np[1].x, np[1].y)]
    return nearest_station

data = pd.concat([data, data.apply(get_nearest_station, axis=1, result_type='expand')], axis=1)

data[['coords', 'line', 'station', 'neighborhood']].sample(20)

,coords,line,station,neighborhood
10318,POINT (-87.6528658377562 41.92505136765153),"Red, Brown, Purple (Express)",Fullerton,Lincoln Park
9167,POINT (-87.63141229300709 41.90392031189563),Red Line,Clark/Division,Gold Coast
1960,POINT (-87.62441474538349 41.72237598330533),Red Line,95/Dan Ryan,Washington Heights
9206,POINT (-87.63141229300709 41.90392031189563),Red Line,Clark/Division,Gold Coast
6651,POINT (-87.77413525552275 41.88729278376865),Green Line (Lake),Austin,Austin
7768,POINT (-87.62802125739587 41.89166520044598),Red Line,Grand,Streeterville
9329,POINT (-87.65264430600405 41.91821656715077),"Brown, Purple (Express)",Armitage,Old Town
7450,POINT (-87.65521427917493 41.89607523646576),Blue Line,Chicago,West Town
2122,POINT (-87.62441474538349 41.72237598330533),Red Line,95/Dan Ryan,Chatham
10019,POINT (-87.69688979878789 41.92193917056461),Blue Line (O'Hare),California,Logan Square
9356,POINT (-87.63930216454519 41.91040917935941),"Brown, Purple (Express)",Sedgwick,Old Town
4206,POINT (-87.61850159987594 41.80209158340622),Green Line,51st,Grand Boulevard
4175,POINT (-87.61850159987594 41.80209158340622),Green Line,51st,Grand Boulevard
12518,POINT (-87.80889493503285 41.98232336946857),Blue Line (O'Hare),Harlem,Edison Park
10979,POINT (-87.76089227927594 41.97063413718424),Blue Line,Jefferson Park,Portage Park
12005,POINT (-87.76089227927594 41.97063413718424),Blue Line,Jefferson Park,Jefferson Park
10055,POINT (-87.7085413860205 41.92972804131357),Blue Line,Logan Square,Logan Square
7251,POINT (-87.62817635256233 41.89667121189094),Red Line,Chicago,Streeterville
7825,POINT (-87.62618878473235 41.88322001199881),"Brown, Orange, Pink, Purple (Express), Green",Washington/Wabash,Loop
9593,POINT (-87.63141229300709 41.90392031189563),Red Line,Clark/Division,Gold Coast

In [13]:
def manhattan_distance(row):
    home_lon = row['lon']
    home_lat = row['lat']
    station_lon = row['coords'].x
    station_lat = row['coords'].y

    # Calculate Haversine distance (https://en.wikipedia.org/wiki/Haversine_formula) 
    # using Manhattan distance (https://xlinux.nist.gov/dads/HTML/manhattanDistance.html)
    return distance.distance((home_lat, home_lon), (station_lat, home_lon)).miles + \
        distance.distance((home_lat, home_lon), (home_lat, station_lon)).miles

data['stationDistance'] = data.apply(manhattan_distance, axis=1)
data[['lon', 'lat', 'coords', 'stationDistance', 'station']].sample(20)

,lon,lat,coords,stationDistance,station
2383,-87.674322,41.761691,POINT (-87.66384484844021 41.77895340470035),1.732747,Ashland
11630,-87.645652,41.950426,POINT (-87.65362593077103 41.94742799653081),0.617739,Addison
13501,-87.683035,42.013449,POINT (-87.6728924507902 42.01906321923584),0.909521,Howard
7357,-87.655811,41.882335,POINT (-87.65212799206752 41.88557678778864),0.413690,Morgan
8174,-87.625121,41.899641,POINT (-87.62817635256233 41.89667121189094),0.362504,Chicago
10931,-87.800746,41.951898,POINT (-87.80889493503285 41.98232336946857),2.519710,Harlem
7229,-87.626931,41.889047,POINT (-87.62802125739587 41.89166520044598),0.236924,Grand
10187,-87.661911,41.929841,POINT (-87.65313085718887 41.93273150006873),0.652001,Diversey
7835,-87.621590,41.886560,POINT (-87.62618878473235 41.88322001199881),0.467684,Washington/Wabash
10103,-87.668546,41.928106,POINT (-87.67088394357924 41.94370914759255),1.197377,Paulina
5924,-87.625240,41.863422,POINT (-87.62658988700279 41.86740495869866),0.344530,Roosevelt
4700,-87.626824,41.830239,POINT (-87.62588147448886 41.831678020726),0.147966,35-Bronzeville-IIT
7239,-87.643801,41.887166,POINT (-87.64177130414286 41.88570342273843),0.205617,Clinton
11940,-87.789552,41.970350,POINT (-87.80889493503285 41.98232336946857),1.822629,Harlem
1508,-87.646103,41.705792,POINT (-87.62441474538349 41.72237598330533),2.266195,95/Dan Ryan
522,-87.631491,41.680512,POINT (-87.62441474538349 41.72237598330533),3.255316,95/Dan Ryan
4224,-87.598973,41.804005,POINT (-87.61850159987594 41.80209158340622),1.140488,51st
8252,-87.623501,41.899793,POINT (-87.62817635256233 41.89667121189094),0.456524,Chicago
11276,-87.678242,41.948222,POINT (-87.67473610744641 41.94702865443908),0.262995,Addison
3963,-87.721599,41.810686,POINT (-87.72444964277844 41.79988781946131),0.892429,Pulaski

In [14]:
# Turn neighborhood and home type data into numeric form
data = pd.concat([data, pd.get_dummies(data['neighborhood'], drop_first=True)], axis=1)
data = pd.concat([data, pd.get_dummies(data['homeType'], drop_first=True)], axis=1)

In [15]:
# save cleaned data
data.to_csv('results-11-30-2019-cleaned.csv')