In [46]:
import pandas as pd
import json
from numpy import nan
from geopy import distance
from pandas.io.json import json_normalize
from shapely.geometry import shape, Point, MultiPoint
from shapely.ops import nearest_points

In [47]:
with open('./results-7-31-2019.json') as f:
    # flatten json structures
    data = json_normalize(json.load(f))
    # Remove non-Chicago entries
    data = data[data['address'].str.contains('Chicago, IL')]

In [48]:
data = data.rename(columns={'hdpData.homeInfo.longitude': 'lon', 'hdpData.homeInfo.latitude': 'lat'}, errors='raise')

In [49]:
with open('./CTA_RailStations.geojson') as f:
    stations_geo = json.load(f)

In [50]:
with open('./chicago_neighborhoods.geojson') as f:
    neighborhoods_geo = json.load(f)

In [51]:
# Make the neighborhood json easier to work with
neighborhood_polygons = [{'geometry': shape(feature['geometry']), 'properties': feature['properties']} for feature in neighborhoods_geo['features']]

In [52]:
def get_neighborhood(row):
    lon = row['lon']
    lat = row['lat']
    hoods = [polygon['properties']['pri_neigh'] for polygon in neighborhood_polygons if polygon['geometry'].contains(Point(lon, lat))]
    return hoods[0] if len(hoods) > 0 else None

# Add neighborhoods to entries
data['neighborhood'] = data.apply(get_neighborhood, axis=1)

In [53]:
# Remove anything not in a neighborhood (probably incorrectly labeled as being in Chicago)
data = data[data['neighborhood'].notnull()]
data[['address', 'neighborhood']].sample(20)

                                        address           neighborhood
4509         3843 S Giles Ave # 45, Chicago, IL                Douglas
8181        1521 N Paulina St # 4F, Chicago, IL            Wicker Park
3312          5600 S Washtenaw Ave, Chicago, IL              Gage Park
10119   2107 N Magnolia Ave APT 1B, Chicago, IL           Lincoln Park
10606        2444 W Dakin St APT 1, Chicago, IL            Irving Park
12148           6548 N Spokane Ave, Chicago, IL  Sauganash,Forest Glen
12425  5555 N Sheridan Rd APT 1014, Chicago, IL              Edgewater
3253             5516 S Seeley Ave, Chicago, IL              Englewood
8962     1120 N Lake Shore Dr # 2B, Chicago, IL             Gold Coast
2314               7700 S Lowe Ave, Chicago, IL         Auburn Gresham
11559           2954 W Catalpa Ave, Chicago, IL         Lincoln Square
11761   1448 W Montrose Ave APT 2W, Chicago, IL                 Uptown
8402        2138 W Potomac Ave # 1, Chicago, IL            Wicker Park
5473           4220 W Jackson Blvd, Chicago, IL          Garfield Park
11055     3514 N Fremont St APT 1R, Chicago, IL              Lake View
1475            10236 S Rhodes Ave, Chicago, IL               Roseland
4488            3626 S Calumet Ave, Chicago, IL                Douglas
9445      3151 N Karlov Ave BLDG 1, Chicago, IL               Avondale
7372    550 N Kingsbury St APT 417, Chicago, IL            River North
9649   2222 W Belmont Ave UNIT 501, Chicago, IL           North Center

In [54]:
# Convert prices to ints, drop any entries without prices
data['price'] = data.apply(lambda row: nan if (price:=row['price'].replace('$', '').replace(',', '')) == '' else int(price), axis=1)
data = data.dropna(subset=['price'])

In [55]:
def make_point(point):
    lon = point['geometry']['coordinates'][0]
    lat = point['geometry']['coordinates'][1]
    return (lon, lat), {
            'coords': Point(lon, lat),
            'line': point['properties']['LINES'],
            'station': point['properties']['Name']
        }
        

stations = {(p:=make_point(point))[0]: p[1] for point in stations_geo['features']}
station_points = [station['coords'] for station in stations.values()]

In [56]:
# Get nearest CTA stations
stations_multipoint = MultiPoint(station_points)
def get_nearest_station(row):
    lon = row['lon']
    lat = row['lat']
    p = Point(lon, lat)
    np = nearest_points(p, MultiPoint(station_points))
    # Index 0 is the input point, index 1 is the nearest station
    nearest_station = stations[(np[1].x, np[1].y)]
    return nearest_station

data = pd.concat([data, data.apply(get_nearest_station, axis=1, result_type='expand')], axis=1)

data[['coords', 'line', 'station', 'neighborhood', 'address']].sample(20)

,coords,line,station,neighborhood,address
12205,POINT (-87.71314203532829 41.96792815058559),Brown Line,Kimball,"Sauganash,Forest Glen","6112 N Kedvale Ave, Chicago, IL"
436,POINT (-87.62441474538349 41.72237598330533),Red Line,95/Dan Ryan,West Pullman,"12034 S Eggleston Ave, Chicago, IL"
1763,POINT (-87.73795637168769 41.78661355009723),Orange Line,Midway,Ashburn,"4663 W 83rd Pl, Chicago, IL"
2815,POINT (-87.64402312721801 41.77902786718354),Green Line,Halsted,Englewood,"6715 S Union Ave, Chicago, IL"
9323,POINT (-87.71235935057341 41.93813166884105),Blue Line,Belmont,Logan Square,"2637 N Hamlin Ave, Chicago, IL"
5381,POINT (-87.74469840019536 41.88651935258224),Green Line (Lake),Cicero,Austin,"4741-43 W Madison St # 2, Chicago, IL"
11093,POINT (-87.65338048799256 41.93975074521462),"Red, Brown, Purple (Express)",Belmont,Lake View,"3228 N Clifton Ave # 3N, Chicago, IL"
5711,POINT (-87.65212799206752 41.88557678778864),"Green (Lake), Pink",Morgan,West Loop,"901 W Madison St UNIT 502, Chicago, IL"
6897,POINT (-87.66695093661281 41.88531139464179),"Green (Lake), Pink",Ashland,West Town,"1424 W Grand Ave APT 5, Chicago, IL"
10594,POINT (-87.7190993021528 41.94736010155727),Blue Line,Addison,Irving Park,"3804 N Troy St APT 1, Chicago, IL"
3984,POINT (-87.61903578127783 41.81646322193995),Green Line,43rd,Grand Boulevard,"4142 S Calumet Ave, Chicago, IL"
11524,POINT (-87.71314203532829 41.96792815058559),Brown Line,Kimball,Albany Park,"4941 N St Louis Ave # G, Chicago, IL"
2705,POINT (-87.66384484844021 41.77895340470035),Green Line (Englewood),Ashland,Englewood,"6446 S Seeley Ave, Chicago, IL"
6131,POINT (-87.62658988700279 41.86740495869866),Orange & Green Lines,Roosevelt,Loop,"1000 S Michigan Ave # 6402, Chicago, IL"
10813,POINT (-87.66360955994172 41.94381225523734),Brown Line,Southport,Lake View,"3312 N Lakewood Ave, Chicago, IL"
2315,POINT (-87.62475307324942 41.73537121043779),Red Line,87th,Auburn Gresham,"8407 S Morgan St, Chicago, IL"
9720,POINT (-87.71235935057341 41.93813166884105),Blue Line,Belmont,Avondale,"3260 N Washtenaw Ave # 266, Chicago, IL"
1784,POINT (-87.62441474538349 41.72237598330533),Red Line,95/Dan Ryan,Beverly,"9332 S Damen Ave, Chicago, IL"
11918,POINT (-87.65866841969589 41.97798399160598),Red Line,Berwyn,Edgewater,"5415 N Sheridan Rd APT 4715, Chicago, IL"
7025,POINT (-87.62817635256233 41.89667121189094),Red Line,Chicago,Streeterville,"175 E Delaware Pl # 8306-07, Chicago, IL"

In [57]:
def manhattan_distance(row):
    home_lon = row['lon']
    home_lat = row['lat']
    station_lon = row['coords'].x
    station_lat = row['coords'].y

    # Calculate Haversine distance (https://en.wikipedia.org/wiki/Haversine_formula) 
    # using Manhattan distance (https://xlinux.nist.gov/dads/HTML/manhattanDistance.html)
    return distance.distance((home_lat, home_lon), (station_lat, home_lon)).miles + \
        distance.distance((home_lat, home_lon), (home_lat, station_lon)).miles

data['stationDistance'] = data.apply(manhattan_distance, axis=1)
data[['lon', 'lat', 'coords', 'stationDistance', 'station']].sample(20)

,lon,lat,coords,stationDistance,station
2238,-87.695326,41.746769,POINT (-87.66384484844021 41.77895340470035),3.848296,Ashland
9617,-87.663416,41.922755,POINT (-87.6528658377562 41.92505136765153),0.702278,Fullerton
3205,-87.721459,41.791159,POINT (-87.72444964277844 41.79988781946131),0.756886,Pulaski
7336,-87.629242,41.892817,POINT (-87.62802125739587 41.89166520044598),0.142444,Grand
12936,-87.683775,42.009747,POINT (-87.6728924507902 42.01906321923584),1.203146,Howard
11583,-87.730712,41.964735,POINT (-87.72917726558204 41.95294026078555),0.893094,Irving Park
9758,-87.681560,41.938359,POINT (-87.67473610744641 41.94702865443908),0.949994,Addison
6914,-87.667391,41.892286,POINT (-87.66695093661281 41.88531139464179),0.504055,Ashland
11551,-87.724971,41.975298,POINT (-87.71314203532829 41.96792815058559),1.117851,Kimball
7789,-87.616721,41.891725,POINT (-87.62802125739587 41.89166520044598),0.586862,Grand
11728,-87.665226,41.972839,POINT (-87.65852996352429 41.97345332194149),0.387265,Argyle
1876,-87.650638,41.738737,POINT (-87.62475307324942 41.73537121043779),1.570309,87th
6019,-87.647112,41.863097,POINT (-87.64964223079028 41.87551620822291),0.987664,UIC-Halsted
8166,-87.675935,41.918049,POINT (-87.67743665449984 41.9097437915267),0.650604,Damen
2224,-87.673514,41.750978,POINT (-87.66384484844021 41.77895340470035),2.430434,Ashland
4434,-87.639256,41.820733,POINT (-87.63102579710097 41.81033813187484),1.142294,47th
5464,-87.714233,41.871510,POINT (-87.7059782953903 41.87442550807229),0.627032,Kedzie-Homan
2768,-87.660187,41.778127,POINT (-87.66384484844021 41.77895340470035),0.245997,Ashland
1505,-87.617791,41.707853,POINT (-87.62441474538349 41.72237598330533),1.344846,95/Dan Ryan
9421,-87.717526,41.937794,POINT (-87.71235935057341 41.93813166884105),0.289548,Belmont

In [58]:
# save cleaned data
data.to_csv('results-7-31-2019-cleaned.csv')

In [62]:
with pd.option_context("display.max_rows", 100):
    display(data[['neighborhood', 'price']].groupby('neighborhood').median().sort_values(by=['price'], ascending=False))

                          price
neighborhood
Boystown               862500.0
Gold Coast             818000.0
Bucktown               767500.0
Andersonville          762500.0
Wrigleyville           700000.0
Sheffield & DePaul     699000.0
Old Town               675000.0
Lincoln Park           649888.0
Rush & Division        637500.0
Chinatown              630000.0
North Center           625000.0
Wicker Park            619900.0
Streeterville          614000.0
Ukrainian Village      599950.0
West Town              584900.0
East Village           574900.0
Logan Square           569950.0
Greektown              560000.0
Sauganash,Forest Glen  499000.0
Lake View              495000.0
River North            485000.0
Loop                   475000.0
Armour Square          469000.0
Avondale               459900.0
West Loop              449950.0
Oakland                439450.0
Bridgeport             438500.0
Near South Side        419900.0
North Park             408995.0
Grant Park             405000.0
Irving Park            399000.0
Lower West Side        394900.0
Lincoln Square         384500.0
Edison Park            370000.0
Portage Park           369900.0
Norwood Park           359931.0
Albany Park            354950.0
Magnificent Mile       349900.0
Jefferson Park         349900.0
Beverly                349000.0
Little Italy, UIC      339999.0
Dunning                319500.0
Montclare              315000.0
Mckinley Park          314000.0
Hermosa                309900.0
Humboldt Park          300000.0
Uptown                 299900.0
Archer Heights         299900.0
Belmont Cragin         299387.5
Kenwood                298750.0
United Center          298500.0
Douglas                296900.0
Garfield Ridge         285000.0
Hyde Park              284900.0
Grand Boulevard        282499.5
Printers Row           279000.0
West Ridge             278000.0
Mount Greenwood        249000.0
Clearing               245000.0
Brighton Park          242509.0
Edgewater              242450.0
Galewood               240000.0
West Lawn              234900.0
West Elsdon            230000.0
Gage Park              225000.0
Ashburn                197900.0
Rogers Park            189900.0
Little Village         179995.0
Morgan Park            174900.0
Chicago Lawn           162750.0
O'Hare                 158000.0
Woodlawn               149900.0
Washington Heights     139900.0
Calumet Heights        137400.0
South Shore            137395.0
Garfield Park          135900.0
Chatham                135565.5
Auburn Gresham         133250.0
Austin                 131400.0
Avalon Park            130000.0
Pullman                110000.0
Grand Crossing         102513.0
Burnside                91200.0
Roseland                82500.0
Washington Park         81999.0
West Pullman            79900.0
New City                76000.0
North Lawndale          64200.0
Fuller Park             59000.0
Englewood               56110.0
Riverdale               27425.0
South Chicago           18000.0